# Any build artifacts for any and every VCSes have to be excluded 
# from storing in repository.
.env
data
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
cfstats.7z

npm-debug.log
.nyc_output
coverage
node_modules

build

.idea
*.iml
yarn.lock
.DS_store